name: Continuous Integration
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/checkout@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Run Lint
        run: npx eslint .

      - name: Run Unit Tests
        run: npm test
